@media screen {
	@font-face {
		font-family: 'ds_mosterregular';
		src:url('../fonts/trixiecyr-plain-webfont.otf') format('truetype'),
			url('../fonts/trixiecyr-plain-webfont.woff2') format('woff2'),
			url('../fonts/trixiecyr-plain-webfont.woff') format('woff');
		font-weight: normal;
		font-style: normal;
	}

	.shadow {
		background-image: url(../images/old-paper.png);
		border: 4px dashed black;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		padding: 10px;
	}

	BLOCKQUOTE I{
		letter-spacing: -1px;
		display: flex;
		text-transform: uppercase;
	}
	P > B{
		color:#A52A2A;
	}
	B + I{
		color:#191970
	}
	BLOCKQUOTE[title]{
		color:navy;
	}
	body{
		font-family: 'ds_mosterregular';
		background: url(../images/bck_paper.jpg);
		background-repeat:repeat-y;
		background-size: 100%;
	}
	ul {
		list-style-image: url(../images/bull_ico.png);
	   }

	.photo {
		display: inline-block;
		position: relative;
	}
	.photo:hover::after {
		content: attr(data-title);
		position: absolute;
		left: 0; right: 0; bottom: 0px;
		z-index: 1;
		background: rgba(0,42,167,0.6);
		color: #fff;
		text-align: center;
		font-family: Arial, sans-serif;
		font-size: 11px;
		padding: 5px 10px;
		border: 1px solid #333;
	   }
	
	.floating{
		animation-name: floating;
		-webkit-animation-name: floating;
	 
		animation-duration: 1.5s;   
		-webkit-animation-duration: 1.5s;
	 
		animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
	}
	 
	@keyframes floating {
		0% {
			transform: translateY(0%);  
		}
		50% {
			transform: translateY(8%);  
		}   
		100% {
			transform: translateY(0%);
		}           
	}
	 
	@-webkit-keyframes floating {
		0% {
			-webkit-transform: translateY(0%);  
		}
		50% {
			-webkit-transform: translateY(8%);  
		}   
		100% {
			-webkit-transform: translateY(0%);
		}           
	}

	#clock{
		display: inline-block;
		border:1px solid black;
		padding: 5px;
		margin: 0;
		width: 75px;
		font-size: 14px;
		background-color: white;
		position: fixed;
		bottom: 0px;
		right: 0px;
		padding: 1px;
	}
	.outT{
		display: inline-block;
		flex-flow: column wrap;
		text-align: center;
		padding: 1px;
	}
	#divdiv{
		display: flex;
		flex-flow: row wrap;
		text-align: center;
	}
	#Hours,#Minutes,#Seconds{
		font-weight: bold;
	}
	
	.clock-change-translate{
		-webkit-transform: translate(-50px, -100px);
		-webkit-transition-duration: 2s;
	}
	
	.clock-change-rotate{
		-webkit-transform: rotate(20deg);
		-webkit-transition-duration: 2s;
	}
	
	.clock-change-scale{
		-webkit-transform: scale(2, 3);
		-webkit-transition-duration: 2s;
	}
	
	.clock-change-skewX{
		-webkit-transform: skewX(20deg);
		-webkit-transition-duration: 2s;
	}
	
	.clock-change-skewY{
		-webkit-transform: skew(20deg, 10deg);
		-webkit-transition-duration: 2s;
	}
	.clock-change-matrix{
		-webkit-transform: matrix(1, -0.3, 0, 1, 0, 0);
		-webkit-transition-duration: 2s;
	}
}
@media print {
	BODY {
     font-family: Times, 'Times New Roman', serif;
    }
    H1, H2, P {
     color: black;
    }
}